.landing.small{
	height: 350px;
}

.page__about{
	.landing.small{
		background:url(../../images/landing__about.jpg);
		background-size: cover;
		background-position: center center;
	}
}

.page__projects{
	.landing.small{
		background:url(../../images/landing__projects.jpg);
		background-size: cover;
		background-position: center center;
	}
}

.page__gemeenten{
	.landing.small{
		background:url(../../images/landing__gemeenten.jpg);
		background-size: cover;
		background-position: center center;
	}
}

.page__tools{
	.landing.small{
		background:url(../../images/landing__tools.jpg);
		background-size: cover;
		background-position: center center;
	}
}

.page__workshops{
	.landing.small{
		background:url(../../images/landing__workshops.jpg);
		background-size: cover;
		background-position: center center;
	}
}

.page__sponsor_worden{
	.landing.small{
		background:url(../../images/landing__sponsor.jpg);
		background-size: cover;
		background-position: center center;
	}
}

.page__doe__mee{
	.landing.small{
		background:url(../../images/doe__mee.jpg);
		background-size: cover;
		background-position: center center;
	}
}

.page__project__1{
	.landing.small{
		background:url(../../images/project__01.jpg);
		background-size: cover;
		background-position: top center;
	}
}

.page__project__2{
	.landing.small{
		background:url(../../images/project__02.jpg);
		background-size: cover;
		background-position: center center;
	}
}

.page__project__3{
	.landing.small{
		background:url(../../images/project__03.jpg);
		background-size: cover;
		background-position: center center;
	}
}